<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/templates/poker.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/templates/poker.js"></script>
</head>
<body style="background-image: url(static/images/background.png); background-size:cover">
<center>
<div class="win" style="width:100%;height:100%;">
  <h1>{{ hand }}</h1>
  <h1>Player {{ player }} Wins</h1>
  <h2>Winner Deck</h2><br>
  {% for card in Winner_Deck %}
    <img src="static/images/{{card}}.png" width="170" height="300" alt="aaa/{{card}}">
  {% endfor %}
<br>
  <button type="button" id="play_again">Play Again</button>
</div>
</center>
<div class="game">

<button type="button" id="Show">PLAY</button>

<button type="button" id="result">RESULT</button>

  <div>
      {% for i in range(1, 6) %}
      <img src="static/images/cover.png" width="80" height="120" alt="aaa/all" class="deck cover{{i}} deck1">
      {% endfor %}
  </div>
  <div>
      {% for i in range(6, 11) %}
      <img src="static/images/cover.png" width="80" height="120" alt="aaa/all" class="deck cover{{i}} deck2">
      {% endfor %}
  </div>
  <div>
      {% for i in range(11, 16) %}
      <img src="static/images/cover.png" width="80" height="120" alt="aaa/all" class="deck cover{{i}} deck3">
      {% endfor %}
  </div>
  <div>
      {% for i in range(16, 21) %}
      <img src="static/images/cover.png" width="80" height="120" alt="aaa/all" class="deck cover{{i}} deck4">
      {% endfor %}
  </div>
  <img src="static/images/cover.png" width="80" height="120" alt="aaa/all" class="deck cover21">


  <div class="user1_cards">
      {% for card in user1 %}
        <img src="static/images/{{card}}.png" width="80" height="120" alt="aaa/{{card}}" class="u1">
      {% endfor %}

      <div class="player1">
        <h1>Player 1</h1>
        <button type="button" id="p1">Show Cards</button>
      </div>

  </div>

  <div class="user2_cards">

    <div class="player2">
      <h1>Player 2</h1>
      <button type="button" id="p2">Show Cards</button>
    </div>

    {% for card in user2 %}
    <img src="static/images/{{card}}.png" width="80" height="120" alt="aaa/{{card}}" class="u2">
    {% endfor %}
  </div>

  <div class="user3_cards">
      {% for card in user3 %}
        <img src="static/images/{{card}}.png" width="80" height="120" alt="aaa/{{card}}" class="u3 user3_card{{ loop.index }}">
      {% endfor %}

      <div class="player3">
        <h1>Player 3</h1>
        <button type="button" id="p3">Show Cards</button>
      </div>

  </div>

  <div class="user4_cards">
      {% for card in user4 %}
        <img src="static/images/{{card}}.png" width="80" height="120" alt="aaa/{{card}}" class="u4 user4_card{{ loop.index }}">
      {% endfor %}

      <div class="player4">
        <h1>Player 4</h1>
        <button type="button" id="p4">Show Cards</button>
      </div>

  </div>


</div>
</body>
</html>
